@media screen and (max-width: 600px) {
/*-------------------------------------------
Mainvisual
-------------------------------------------*/
    #mainvisual img {
      height: calc(100vh - 60px);  /* 画像の高さをブラウザ下いっぱいまで広げます */
    }


/*-------------------------------------------
About
-------------------------------------------*/
    #about .content {
        flex-direction: column;  /* 画像とテキストを縦並びに配置します */
    }

    #about img {
        margin-right: 0;
    }

/*-------------------------------------------
Bicycle
-------------------------------------------*/
    #bicycle ul {
      flex-direction: column;  /* 画像を縦並びに配置します */
    }

    #bicycle li {
        width: 100%;             /* 画像を横幅いっぱいまで表示します */
        margin-bottom: 30px;
    }



}