@media screen and (max-width: 1024px) {


    .inner {
        padding: 0 40px;
    }

    /*-------------------------------------------
    header
    -------------------------------------------*/
    #header {
        padding: 0 10px;
    }
    .site-title {
        width: 205px;
    }

    /*-------------------------------------------
    Mainvisual
    -------------------------------------------*/
    #mainvisual {
        padding: 0 10px;
    }

    /*-------------------------------------------
    Detail
    -------------------------------------------*/
    .content {
        flex-direction: column;  /* 縦並びにする */
    }

    .detail-img {
        width: 100%;
        margin: 0 0 25px 0;
    }


}