@media screen and (max-width: 375px) {


    .mainvisual {
        margin: 0;
        margin-bottom: 24px;
    }

    .header {
        margin-left: 0;
        justify-content: space-around;
        margin-bottom: 53px;
    }

    .header-nav {
        margin-left: 0;
    }

    .header-item:nth-child(n+2) {
        margin-left: 33px;
    }

    .main-item {
        /* display: block; */
        flex-direction: column-reverse;
        margin-bottom: 65px;
    }

    .main-item:first-child {
        flex-direction: column-reverse;
    }

    .text {
        width: 100%;
        padding-left: 18px;
        padding-right: 26px;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        line-height: 2;
    }

    .main-image {
        width: 100%;
        margin-bottom: 13px;
    }

    .footer {
        padding: 0 36px 23px 18px;
    }

}